header {
    position: fixed;
    top: 0;
    border-bottom-color: #cccccc;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 80%;
}

#logo {
    background-color: #4aaaa5;
    color: white;
    padding: 10px;
    float: left;
    width: 20%;
    text-align: center;
}

body {
    border-color: #dddddd;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 140px;
    margin-left: 150px;
    margin-right: 150px;
    width: 960px;
}

#footer {
    padding: 10px;
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    border-top-color: #4aaaa5;
    border-top-width: 6px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
}