.navbar {
    padding: 0 15% 0 15%;
    border-bottom: 3px solid #cccccc;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    top: 0;
    z-index: 2;
}

.navbar-expand-lg {
    width: 100%;
}

.nav-item {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 0 0;
}

/*logo*/
a.navbar-brand {
    background-color: #4aaaa5;
    width: 30%;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 15px 5px 15px 5px;
}

a.navbar-brand:hover {
    background-color: #39fdf3;
}

body {
    background-image: url('../images/trees.png');
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 120px;
    margin-bottom: 150px;
    padding: 10px 40px 40px 40px;
    border: 2px solid #dddddd;
    background-color: #ffffff;
    max-width: 960px;
    overflow: auto;
    z-index: 1;
    color: #777777;
}

/*form fields*/
form {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
}

.footer {
    padding: 10px;
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    border-top: 8px solid #4aaaa5;
    bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 2;
    margin-top: 60px;
}

h1 {
    color: white;
}

/*page title*/
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom:3px solid #cccccc;
    padding-bottom: 25px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

.col-md {
    padding: 0;
}

.project {
    margin-bottom: 10%;
}

.project_text {
    color: white;
    background-color: #4aaaa5;
    padding-top: 10px;
    width: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    position: absolute;
    text-align: center;
    bottom: 20px;
}

.project_text:hover {
    background-color: #39fdf3;
}

a {
    color: #777777;
    font-weight: 10;
    text-decoration: none;
}

button {
    background-color: #4aaaa5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 20px;
    border: none;
    padding: 10px 25px 10px 25px;
}

button:hover {
    background-color: #39fdf3;
}

@media (max-width: 991.98px) {
    .nav-item {
        border: none;
        padding-top: 20px;
    }
    
    a.navbar-brand {
        width: 30%;
        display: block;
        white-space:normal;
        padding: 25px 5px 25px 5px;
    }
    
    .navbar {
        padding: 0 2% 0 2%;
    }
    
    .navbar-toggler {
        margin-bottom: 2%;
        background-color: #ffffff;
    }
    
    .navbar-toggler:active {
        background-color: #39fdf3;
    }
    
    .navbar-toggler:focus {
        background-color: #ffffff;
    }
}

@media (max-width: 576px) {
    #about {
        contain: layout;
    }

    a.navbar-brand {
    white-space: normal;
    font-size: 80%;
    }
}