header {
    position: fixed;
    top: 0;
    border-bottom-color: #cccccc;
    border-bottom: 2px solid;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    z-index: 2;
}

.menu {
    margin-right: 200px;
    float: right;
}

#about{
    position: absolute;
    right: 330px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding-right: 30px;
    border-right: 1px solid #cccccc;
    color: #777777;
}

#portfolio{
    position: absolute;
    right: 210px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding-right: 30px;
    border-right: 1px solid #cccccc;
    color: #777777;
}

#contact{
    position: absolute;
    right: 130px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    color: #777777;
}

#logo {
    background-color: #4aaaa5;
    color: white;
    float: left;
    width: 20%;
    margin-left: 150px;
    text-align: center;
}

#logo:hover {
    background-color: #39fdf3;
}

body {
    background-image: url('../images/trees.png');
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;    
    color: #777777;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    margin: 130px 150px 100px 150px;
    padding: 20px 40px 40px 40px;
    border: 2px solid #dddddd;
    background-color: #ffffff;
    max-width: 960px;
    overflow: auto;
}

#main {
    float: left;
    width: 100%;
 }

#bio-image {
    float: left;
    padding: 0 20px 10px 0;
}

#footer {
    padding: 10px;
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    border-top: 8px solid #4aaaa5;
    bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 2;
    margin-top: 60px;
    }

#box {
    border: thin solid #777777;
    padding-left: 15px;
}

#box-empty {
    border: thin solid #777777;
    padding: 100px;
}

button {
    background-color: #4aaaa5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 20px;
    border: none;
    padding: 10px 25px 10px 25px;
}

button:hover {
    background-color: #39fdf3;
}

h1 {
    color: white;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom:3px solid #cccccc;
    padding-bottom: 25px;
    font-size: 30px;
    margin-top: 10px;
}

h3 {
    font-weight: lighter;
}

a {
    color: #777777;
    font-weight: 10;
    text-decoration: none;
}

a:hover {
    color: #39fdf3;
}

p {
    line-height: 1.25;
}

input[type=text] {
    padding: 5px;
    width: 100%;
}

input[type=email] {
    padding: 5px;
    width: 100%; 
}

#message {
    padding: 5px;
    width: 100%;
    max-lines: 10;
}

input {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

 ::placeholder {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.project {
    position: relative;
    z-index: 1;
    float: left;
    margin: 20px;
}

.project_text {
    color: white;
    background-color: #4aaaa5;
    width: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    position: absolute;
    text-align: center;
    bottom: 20px;
}

.project_text:hover{
    background-color: #39fdf3;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}